
    <section class="mt-5">
        <div class="container">
            <div class="row">
               {{#each products}}
                <div class="col-md-3 p-3">
                    <div class="card" style="width: 14rem;">
                        <img style="width: 200px; height: 200px;text-center " class="card-img-top  "
                            src="/product-images/{{this._id}}.jpg"
                            alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.name}}</h5>
                            <p class="card-text">{{this.discription}}</p>
                           <h4 class="card-text">Rs:{{this.price}}</h4>
                            
                            <button onclick="addToCart('{{this._id}}')" class="btn btn-success">Add to Cart</button>
                        </div>
                    </div>
                </div>
                {{/each}}
               
            </div>
        </div>
    </section>
<script>
   
</script>
   